# Tiltjuk a közvetlen hozzáférést a JSON adatfájlokhoz
<FilesMatch "\.json$">
    Order Deny,Allow
    Deny from all
</FilesMatch>

# Tiltjuk a közvetlen hozzáférést a PHP include fájlokhoz
<FilesMatch "^(functions|header|footer|navbar)\.php$">
    Order Deny,Allow
    Deny from all
</FilesMatch>

# Engedélyezzük az index.php-t
<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>
